*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.header{
    width: 1440px;
    border: 2px solid red;
    margin: 0 auto;
}
.nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav ul{
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav ul li{
    font-size: 18px;
    font-weight: 400;
    color: #1F1534;
    opacity: 0.5;
}
.nav ul li:hover{
    color: black;
    font-weight: 700;
    opacity: 1;
    transition: all 1s;
}
.header-2{
    display: flex;
    width: 1180px;
    margin: 0 auto;
}
.header-text h1{
    font-weight: 700;
    font-size: 45px;
    line-height: 56px;
  
}
.header-text p{
     font-weight: 300;
    font-size: 19px;
    line-height: 32px;
}
.header-button{
   width: 200px;
    height: 50px;
    border-radius: 55px;
    color: white;
    background-color:#458FF6;
    border: none;
}
.header-button:hover{
    border: 2px solid #458FF6;
    color: #458FF6;
    background-color: white;
    transition: all 1s;
}
.section{
width: 1180px;
height: 1105px;
border: 2px solid #458FF6;
margin: 0 auto;
}
.section h1{
    font-weight: 700;
    font-size: 35px;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
}
.section p{
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 36px;
    padding-top: 61px;
}
.section-main{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.card{
    width: 380px;
    height: 380px;
    border-radius: 20px;
    background-color: #E7E7E7;
}
.card:hover{
    background-color: #458FF6;
    color: white;
    transition: all 1s;
}
.section-main h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 56px;
    letter-spacing: 0%;
    padding: 40px 170px 1.6px 41px;
}
.section-main h4{
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    padding: 1.6px 58px 28px 41px;
}
.logo{
    margin: 68px 244px 0 38px;
}
.button{
    width: 200px;
    height: 56px;
    border-radius: 55px;
    background-color: #458FF6;
    color: white;
    border: none;
      margin: 0 auto;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    margin-top: 32px;
}
.button:hover{
    background-color: white;
    border: 2px solid #458FF6;
    color: #458FF6;
    transition: all 1s;

}